.main-container{
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 40px;
}

.new-chat{

}

.conversation{
    margin-bottom: 20px;
}

.profile{
    display: flex;
}

.profile-picture{
    width: 50px;
    border-radius: 50px;
}
.message-section{
    display: flex;
    flex-direction: column;
    flex: 1;

}