.body{
    margin: 0;
}

.main-container{
    display: flex;
    height: 100vh;
    background-color: black;
    gap: 10px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 16px;
    gap: 16px;
}

.new-chat{

}

.conversation{

}

.conversations{
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.recent-heading{
    color: white;
}


.profile{
    display: flex;
    margin-top: auto;
    margin-bottom: 10px;
}

.profile-picture{
    width: 50px;
    border-radius: 50px;
}
.message-section{
    display: flex;
    flex-direction: column;
    flex: 1;
}