
.message-section{
    display: flex;
    flex-direction: column;
    flex: 1;

}

.title{
    color: white;
    text-align: center;
}

.message-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px 10%;
    overflow-y: auto;
    gap: 24px;

}

.user-message{
    margin-left: auto;
    background-color: #2f2f2f;
    padding: 12px 20px;
    border-radius: 20px 20px 4px 20px;
    max-width: 70%;
    line-height: 1.5;
}

.ai-reply{
    background-color: transparent;
    padding: 12px 0px;
    max-width: 85%;
    line-height: 1.6;
}

.input-section{
    display: flex;
    flex-direction: row;
    height: 55px;
    margin: 20px auto 30px auto;
    width: 80%;
    max-width: 800px;

}

.send-button{
    background-color: rgb(45, 45, 45);
    color: white;
    border: none;
    width: 50px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.add-button{
    background-color: rgb(45, 45, 45);
    border: none;
    width: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.user-input{
    flex: 1;
    color: #fff;
    background-color: rgb(45, 45, 45);
    border: none;
    padding: 0 20px;
    font-size: 16px;
    outline: none;
}


