.sidebar{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 16px;
    background-color: rgb(1, 1, 0);
    border-right: 1px solid rgb(40, 40, 40);

}

.conversation-wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    gap: 2px;
    position: relative;
}

.conversation-wrapper:hover .options-button{
    display: block;
}

.drop-down{
    position: absolute;
    left: 100%;
    margin-left: 15px;

    z-index: 1000;
    background-color: rgb(26,26,26);
    border: 1px solid rgb(60,60,60);
    border-radius: 6px;
    padding: 5px;
    min-width: 100px;

    display: none;
}

.drop-down.show{
    display: block;
}

.new-chat, .conversation{
    text-align: left;
    background-color: rgb(1, 1, 0);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    margin-right: 16px;
    margin-left: 4px;
    border: none;
    margin-top: 10px;

}


.new-chat:hover, .profile:hover,.conversation:hover{
    background-color: rgb(26, 26, 26);
}

.conversation{
    margin: 0;
}



.conversations{
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    flex: 1;
    height: 0;
}

.options-button{
    background-color: rgb(1, 1, 0);
    border: none;
    color: white;
    display: none;
    margin-left: auto;
}

.recent-conversations{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;

}

.recent-heading{
    color: white;
    margin-left: 10px;
    margin-bottom: 4px;
}


.profile{
    display: flex;
    text-align: left;
    background-color: rgb(1, 1, 0);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 12px;
    margin: auto 4px 10px 4px;
    border: none;

}

.profile-picture{
    width: 50px;
    border-radius: 50px;
    vertical-align: center;

}

.profile-name{
    border: none;
    color: white;
    vertical-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 15px;
}