.sidebar{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 16px;
    background-color: rgb(1, 1, 0);
    border-right: 1px solid rgb(40, 40, 40);

}

.new-chat, .conversation{
    text-align: left;
    background-color: rgb(1, 1, 0);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    margin-right: 16px;
    margin-left: 4px;
    border: none;
    margin-top: 10px;

}


.new-chat:hover, .profile:hover,.conversation:hover{
    background-color: rgb(26, 26, 26);
}

.conversation{
    margin: 0;
}



.conversations{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    flex: 1;
}



.recent-conversations{
    display: flex;
    flex-direction: column;
    flex: 1;


}

.recent-heading{
    color: white;
    margin-left: 10px;
    margin-bottom: 4px;
}


.profile{
    display: flex;
    text-align: left;
    background-color: rgb(1, 1, 0);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 12px;
    margin: auto 4px 10px 4px;
    border: none;

}

.profile-picture{
    width: 50px;
    border-radius: 50px;
    vertical-align: center;

}

.profile-name{
    border: none;
    color: white;
    vertical-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 15px;
}